<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=BRAHIMPC; Initial Catalog=ETARIM; User ID=sa; Password='12345';"/>
    <add key="etarim" value="Data Source=BRAHIMPC; Initial Catalog=ETARIM; User ID=sa; Password='12345';"/>
    <add key="BAKANLIKDEMO" value="Data Source=BRAHIMPC; Initial Catalog=BAKANLIKDEMO; User ID=sa; Password='12345';"/>
    <add key="FCKeditor:BasePath" value="~/fckeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="~/dosyalar/"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=BRAHIMPC; Initial Catalog=ETARIM; User ID=sa; Password='12345';"/>
    <add name="ETARIMConnectionString" connectionString="Data Source=BRAHIMPC;Initial Catalog=ETARIM;User ID=sa; Password='12345';" providerName="System.Data.SqlClient"/>
    <add name="ETARIMConnectionString2" connectionString="Data Source=BRAHIMPC;Initial Catalog=ETARIM;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
    <add name="BAKANLIKDEMOConnectionString" connectionString="Data Source=BRAHIMPC;Initial Catalog=BAKANLIKDEMO;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms.DataVisualization.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Input.Manipulations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Presentation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>